// FONTFACE


/**
 * fontface
 * @usage fontface("FontCustomName", font-custom-name, normal, normal)
 */

font-url(file)
  return url(fontPath + '/' + file)

fontface(family, file, weight, style)
  @font-face
    font-family: family
    src: font-url(file + '.eot?#iefix') format('embedded-opentype'), font-url(file + '.woff') format('woff'), font-url(file + '.ttf') format('truetype'), font-url(file + '.svg#'+ family) format('svg')
    font-weight: weight
    font-style: style
