// FONTAWESOME


font-awesome-reset()
  &:before
    font-family: FontAwesome
    font-weight: normal
    font-style: normal
    display: inline-block
    text-decoration: none
    vertical-align: middle
    text-rendering: optimizeLegibility !important
    -webkit-font-smoothing: antialiased !important
