// GRID


grid-setup()
  display: block
  clear: both
  // Unit
  .unit
    float:left
    width: 100%
    padding: 0 gutterWidth
  .one-two
    width: 50%
  .one-three
    width: 33.3332%
  .one-four
    width: 25%
  .two-three
    width: 66.6665%
  .two-five
    width: 40%
  .three-four
    width: 75%
  .three-five
    width: 60%
  .four-five
    width: 80%
  .one-five
    width: 20%
  // Utilities
  .no-gutter
    padding: 0
  .no-gutter-left
    padding-left: 0
  .no-gutter-right
    padding-right: 0
  .pull-left
    float: left
  .pull-right
    float: right
