// VERTICAL RHYTHM


-pxtoem(arg, ctx)
  return unit((arg / ctx), 'em')

-rndth(arg)
  return (round((arg) * 1000) / 1000)

rhythm(fs, mt = null, mb = null)
  font-size: unit(fs, 'em')
  new-height = (-rndth(baseLineHeight / fs))
  new-line-height = new-height
  if new-line-height < 1
    line-height: 1
  else
    line-height: new-height
  if mt
    margin-top: unit(new-height, 'em') * mt
  if mb
    margin-bottom: unit(new-height, 'em') * mb

-leader(ln = 1, fs = 1)
  new-lead = (-rndth(baseLineHeight / fs)) * ln
  return unit(new-lead, 'em')
