// BASE Module


// Default text color
html,
button,
input,
select,
textarea
  color: textColor ?= #222

html
  font-size: 100%
  overflow-y: scroll        // Always show scrollbar

// Apply box sizing to all element
*,
*:before,
*:after
  box-sizing: border-box
  if legacyBrowserSupport
    // Uncomment (around line 196) in Gruntfile.coffee to copy boxsizing.htc
    // CSS box-sizing: border-box polyfill for IE 6/7
    // github.com/Schepp/box-sizing-polyfill
    // The URL to the HTC file must be relative to your HTML(!) document
    *behavior: url(/assets/css/boxsizing.htc);

body
  font-size: baseFontSize ?= 16px
  line-height: baseLineHeight ?= 1.4

/**
 * Selection
 *
 * Remove text-shadow in selection highlight: see: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection
  background: selectionColor ?= #b3d4fc
  text-shadow: none

::selection
  background: selectionColor ?= #b3d4fc
  text-shadow: none

img::-moz-selection
  background: transparent

img::selection
  background: transparent

// A better looking default horizontal rule
hr
  display: block
  height: 1px
  border: 0
  border-top: hrBorderTop ?= 1px solid colorWB[2]
  margin: 0 0
  padding: 0
