// BUTTONS


/**
 * Base
 * -----------------------------
 */

input[type=reset],
input[type=button],
input[type=submit],
button
  padding: -leader(0.5) gutterWidth
  border-radius(buttonBorderRadius)
  box-shadow: none
  border: none
  /* box-shadow: rgba(0, 0, 0, .3) 0 1px 0, rgba(0, 0, 0, .5) 0 2px 2px -1px, rgba(255, 255, 255, .3) 0 1px 0 inset */
  /* background-image: linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0)) */
  transition-property(background-color)
  transition-duration(400ms)
  transition-timing-function(ease-out)
  &:active,
  &[disabled]
    position: relative
    top: 1px
    text-shadow: none
    /* box-shadow: rgba(0, 0, 0, .3) 0 1px 1px inset */
    /* background-image: linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0.4)) */
  &[disabled]
  &[disabled]
    color: colorWB[1]
    cursor: not-allowed
    background-color: lighten(colorWB[1], 40%) !important


/**
 * Custom
 * -----------------------------
 */

// Buttons sizes
.btn-small
  font-size: 0.75em

.btn-large
  font-size: 1.25em

// Button full width
.btn-full
  width: 100%

// Buttons colors
.btn-primary
  background-color: co = color[1]
  /* text-shadow: rgba(255,255,255, .9) 0 1px 0 */
  &:hover
    background-color: lighten(co, 10%)
  &:active
    background-color: darken(co, 5%)

.btn-secondary
  color: colorWB[0]
  background-color: co = color[0]
  &:hover
    background-color: lighten(co, 20%)
  &:active
    background-color: darken(co, 10%)

.btn-tertiary
  color: colorWB[0]
  background-color: co= color[2]
  &:hover
    background-color: lighten(co, 10%)
  &:active
    background-color: darken(co, 10%)
