// EMBEDDED CONTENT


// Remove the gap between images and the bottom of their containers, see h5bp.com/i/440
img
  vertical-align: middle

// Auto resize
img, 
object, 
embed, 
video, 
iframe
  max-width: 100%
  width: auto

img, 
video, 
iframe
  height: auto
