// FORMS


// Allow only vertical resizing of textareas.
textarea
  resize: vertical

// Remove default fieldset styles.
fieldset
  margin: -leader(0.5) 0
  padding: -leader(0.5) gutterWidth


/**
 * Input styling
 * -----------------------------
 */

input,
textarea
  padding: -leader(0.25) (gutterWidth / 2)
  border-radius(inputBorderRadius)
  border: 1px solid inputBorderColor
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px inset
  transition-property(border)
  transition-duration(300ms)
  transition-timing-function(ease-in)
  z-index: 2

input:focus,
textarea:focus
  outline: none
  border: 1px solid darken(inputBorderColor, 15%)
  box-shadow: rgba(colorWB[1], 0.3) 0 0 0 2px, rgba(0, 0, 0, 0.3) 0 1px 2px inset

input[type="checkbox"],
input[type="radio"],
input[type="image"],
input[type="file"]
  border: 0
  box-shadow: none
  cursor: pointer

input[type="checkbox"],
input[type="radio"]
  margin: 0 3px
  if legacyBrowserSupport
    *margin-top: 0    // IE7
  line-height: normal

select,
input[type="file"]
  width: auto

input[type="range"]
  border-radius: 5px
  padding: 0
  margin: 0
  height: 10px;


// Disable state
input[disabled],
select[disabled],
textarea[disabled]
  cursor: not-allowed
  color: lighten(colorWB[1], 30%)
  border: 1px solid lighten(colorWB[1], 30%)
  box-shadow: none

input[type="radio"][disabled],
input[type="checkbox"][disabled]
  background-color: transparent


/**
 * Placeholder
 * -----------------------------
 */

::-webkit-input-placeholder
   color: textPlaceholderColor

// Firefox 18-
:-moz-placeholder
   color: textPlaceholderColor

// Firefox 19+
::-moz-placeholder
   color: textPlaceholderColor

:-ms-input-placeholder
   color: textPlaceholderColor
