// LINKS


a
  text-decoration: none
  color: linkColor ?= #00e
  transition-property(color)
  transition-duration(400ms)
  &:visited
    color: linkVisitedColor ?= saturate(linkColor, 20%)
  &:hover
    color: linkHoverColor ?= lighten(linkColor, 20%)
