// TABLE


table td,
table th
  border: table-border ?= 1px solid colorWB[2]

th,
td
  padding: -leader(0.5) gutterWidth

// Zebra striping
tbody tr:nth-child(odd)
  background-color: tableStripesColor
