// TYPOGRAPHY


// Headings
h1
  rhythm(h1size, 1, 1)
h2
  rhythm(h2size, 1, 1)
h3
  rhythm(h3size, 1, 1)
h4
  rhythm(h4size, 1, 1)
h5
  rhythm(h5size, 1, 1)
h6
  rhythm(h6size, 1, 1)

// Content, Lists
p,
ul,
ol
  rhythm(1, 0, 1)

// Blockquote
blockquote
  font-family: fontSerif
  rhythm(1.125, 1, 1)
  margin-left: 0
  p
    margin-bottom: -leader(0.5)
  small
    display: block
    color: colorWB[2]

// Pre, code
pre
  font-family: fontMono
  padding-left: gutterWidth
