// COLORS


/**
 * Colorscheme
 * -----------------------------
 * color
 *
 * 0 - Orange
 * 1 - Yellow
 * 2 - Gray
 * 3 - Light Blue
 * 4 - Blue
 */

color = #CE662F, #F2CD02, #666666, #EBEEF7, #51AEE7

// TEST (comment out for production)
// Add color scheme to the test.html
// TODO: create mixin

.color-test
  height: 6em
  stw = 100% / length(color)
  background-image: -webkit-gradient()    // trick CSSLint
  background-image: linear-gradient( left,
    color[0], color[0] stw,
    color[1] stw, color[1] stw * 2,
    color[2] stw * 2, color[2] stw * 3,
    color[3] stw * 3, color[3] stw * 4,
    color[4] stw * 4, color[4] )


/**
 * Commons colors
 * -----------------------------
 * colorBW
 *
 * 0 - White
 * 1 - Light Grey
 * 2 - Grey
 * 3 - Dark Grey
 * 4 - Black
 */

colorWB = #ffffff, #cccccc, #808080, #333333, #000000


/**
 * States and alerts colors
 * -----------------------------
 * colorWarning
 * colorAlert
 * colorSuccess
 * colorInfo
 *
 * 0 - Background
 * 1 - Text
 */

colorWarning = #fcebbd, #af9540
colorAlert   = #f2dede, #8c3a2b
colorSuccess = #ddaeff, #8156a7
colorInfo    = #e1f2fa, #5992aa


/**
 * Brands colors
 * -----------------------------
 * @see brandcolors.net
 */

colorFacebook = #3b5998
colorTwitter  = #00acee
colorGoogle   = #dd1812
colorGithub   = #171515
colorSkype    = #00aff0
colorLinkedIn = #0e76a8
colorYoutube  = #c4302b
colorVimeo    = #86c9ef
colorFlickr   = #0063dc
