// LAYOUT


/** 
 * Default (448px)
 * ----------------------------------------------------------
 */

.container,
.grid
  clearfix()

.container
  max-width: 32em
  margin-right: auto
  margin-left: auto

.grid
  grid-setup()

@media (max-width: 32em)
  body
    font-size: 0.875em


/**
 * Mobile landscape / Portrait tablet (768px)
 * ----------------------------------------------------------
 */

@media (max-width: 48em)

  // Grid
  .grid .unit
    width: 100%
  .unit .grid .unit
    padding-left: 0
    padding-right: 0


@media (min-width: 48em)
  .container
    max-width: 48em


/**
 * Tablet landscape / Desktop (1024px)
 * ----------------------------------------------------------
 */

@media (min-width: 64em)
  .container
    max-width: 64em
    
  // List
  ul ul,
  ul ol,
  ol ol,
  ol ul,
  dd
    margin: -leader(0.875) gutterWidth * 1.5


/**
 * IE fallback
 * -----------------------------
 */

.lt-ie9 .container
  max-width: 64em

// IE6 fix
if legacyBrowserSupport
  .lt-ie7 .container
    overflow: hidden
    width: 64em


/**
 * Large Desktop (1224px)
 * ----------------------------------------------------------
 */

@media (min-width: 120em)
  body
    font-size: 1.125em 
  .container
    max-width: 68em

  // List
  ul ul,
  ul ol,
  ol ol,
  ol ul,
  dd
    margin: -leader() gutterWidth * 2
