//- Versions to include
- var versions = []

//- Top menu items
- var documents = [ "README", "LICENSE" ]

//- Main content
mixin contents
  section#README
    include ../README.md
  section#LICENSE
    include ../LICENSE.md


//- TEMPLATE
!!! 5
html
  head
    meta(charset='utf-8')
    title #{pkg.title} | Documentation
    meta(name='description', content='#{pkg.description}')
    meta(name='author', content='#{pkg.author.name}')
    link(rel='stylesheet', href='assets/bootstrap.min.css')
    style.
      body {
        padding-top: 50px; 
        padding-bottom: 40px; 
      }
      .container { 
        max-width: 920px;
      }
      .main section {
        padding-top: 65px;
        padding-bottom: 55px; 
      }
      .main section,
      .jumbotron {
        border-bottom: 1px solid #E7E7E7;
      }
      .jumbotron {
        background: #f4f4f4;
        text-align: center;
        margin-bottom: 0;
      }
      .jumbotron h1 {
        position: relative;
      }
      .jumbotron h1 .btn-group {
        position: absolute;
        top: -4px;
        font-weight: bold;
      }
      footer {
        padding-top: 45px;  
      }
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class='navbar-brand', href='index.html') &nbsp;Documentation
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            each item in documents
              li
                a(href='##{item}') #{item}
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a(href='#', class='dropdown-toggle', data-toggle='dropdown') Sources&nbsp;
                b.caret
              ul.dropdown-menu
                // li.divider
                li(class='dropdown-header') Javascripts
                li
                  a(target='_blank', href='yuidoc/#{pkg.version}/index.html', title='API documentation - YUIDoc') API Documentation
    .jumbotron
      .container
        h1 #{pkg.title}
          .btn-group
            button(type='button', class='btn btn-default btn-sm dropdown-toggle', data-toggle='dropdown') v#{pkg.version}&nbsp;
              b.caret
            ul.dropdown-menu
              li(class='dropdown-header') Current version
              li
                a(href='documentation-v#{pkg.version}.html') v#{pkg.version}
              if versions.length != ''
                li.divider
                li(class='dropdown-header') Others versions
                each item in versions
                  li
                    a(target='_blank', href='documentation-v#{item}.html') v#{item}
        p #{pkg.description}
        small.text-muted by&nbsp;
          a(href='#{pkg.author.url}') #{pkg.author.name}
    .main
      .container
        +contents()
    footer
      .container
        | Copyrights&copy;#{ new Date().getFullYear() }&nbsp;
        a(href='#{pkg.homepage}', title='#{pkg.title}') #{pkg.title}
        | &nbsp;-&nbsp;
        a(href='#{pkg.author.url}', title='#{pkg.author.name}') #{pkg.author.name}

    script(src='assets/jquery.min.js')
    script(src='assets/bootstrap.min.js')
